@fondorosa: #dd99ff;

body.loginin {
     text-align: center;
}

header {
    background-color: @fondorosa;


&.loginin {
    text-align: center;

}
}
 .align {
    text-align: center!important;
    
}
tr,td {
  border: black 5px solid;
      margin: 15px;
  padding: 15px;
}
tr:hover {
      opacity: 0.5;
     }
.white2 {
  color: white!important;
  background-color: @fondorosa;
    font-size: 20px;
 
    text-align: center;
}
tr {
     background-color: @fondorosa;
}
section{
    &.content1 {
    background-color: white;
    text-align: center;
    }
    &.content2 {
    background-color: @fondorosa;
    text-align: center;
    }
}
a.panel_menu:link {
  text-decoration: none;
  color: black;
    &:hover {
       color:white;
       background: black;
    }
}
a.nav2header {
    color: white;
    font-size: 20px;
}
a.nav2header:hover{
    background-color: white;
    color: black;
}
.foto_texto {
    text-align: justify;

    font-size: 1em;

}

.hacemos {
     background-color: @fondorosa;

    }


img.fotos{
    width: 200px;
    height: 243px;
    margin-left: 50px;
}
